@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.Identity.Name!</span>
                    <a href="authentication/logout" class="ml-2">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="authentication/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
