@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<h3>Two-way binding demo</h3>
<input @bind="name" placeholder="Enter your name" />
<p>Hello, @name!</p>

@code {
    private string name = string.Empty;
}